<app-blank pageTitle="Kargolar">
  <flexi-grid language="tr"
  [data]="data()!"
  [dataBinding]="true"
  [total]="total()!"
  [loading]="loading()"
  [showCaption]="true"
  captionTitle="Kargo Listesi"
  (onRefresh)="result.reload()"
  (dataStateChange)="dataStateChange($event)"
  [showExportExcelBtn]="true"
  >

    <flexi-grid-column field="createAt" title="Kayıt Tarihi" filterType="date" format="dd MMM yyy HH:mm" />
    <flexi-grid-column field="gonderenFullName" title="Gönderen Adı"/>
    <flexi-grid-column field="aliciFullName" title="Alıcı Adı"/>
    <flexi-grid-column field="teslimAdresiCity" title="Teslim Şehir" />
    <flexi-grid-column field="teslimAdresiTown" title="Teslim İlçe"/>
    <flexi-grid-column field="kargoTipiName" title="Kargonun Tipi" />
    <flexi-grid-column field="kargoDurumName" title="Kargonun Durumu"/>
    <flexi-grid-column field="agirlik" title="Kargonun ağırlığı(kg)"/>
    <flexi-grid-column field="createUserName" title="Kayıt yapan kullanıcı"/>
    <flexi-grid-column field="updateAt" title="Güncelleme Tarihi" filterType="date" format="dd MMM yyy HH:mm" />
    <flexi-grid-column field="updateUserName" title="Kayıt eden kullanıcı"/>
    <flexi-grid-column field="deleteAt" title="Silinme tarihi"/>


    <ng-template  flexiGridColumnCommandTemplate  let-item>
      <flexi-button btnSize="x-small" btnIcon="delete" btnColor="danger" title="Sil" flexiTooltip=""/>
    </ng-template>
  </flexi-grid>
</app-blank>


